/***********Main Content*********/
body {
    background-image: url("./images/middleearthEdited.jpg");
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: auto;
    background-color: #3d7b87;
    color: white;
}

#page-title {
    background-color: #3d7b87;
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family:initial;
    font-size: 80px;
    background-image: url("./images/inscription.jpg");
    background-position: auto;
}

#main-content {
    background-image: url('./images/whitetreegondor.jpg');
    background-color: #302b1b;
    width: 75%;
    margin: auto;
    margin-top: 40px;
    border: 10px solid gold;
    box-shadow: 0 0 0 10px black;
}

/*************Quote Cards*************/
#quote-card {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-image: url('./images/inscription.jpg');
    background-position: center;
    background-color: #5e748a;
    width: 40%;
    padding: 10px 10px;
    border: 2px solid white;
}

#quote-button {
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

#quote-title {
    font-family: cursive;
}

#quote-container {
    font-family: cursive;
}


/************Book Cards*************/
#book-cards {
    background-color: #524b36;
    width: 80%;
    margin: auto;
    text-align: center;

}

#book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("./images/threecards.jpg");
    background-position: center;
    padding: 15px 0;
}

.book {
    padding: 0px;
    margin: 0 auto;
    font-size: larger;
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden;
}

#bookCard-title {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.book-cover {
    height: 400px;
    width: 300px;
}

.book-cover:hover {
    cursor: pointer;
}

/**********Summary*************/
#summary-cards {
    background-color: #524b36;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.summary {
    display: none;
    padding: 20px;
    font-size: 25px;
}

#book-1-summary, #book-2-summary, #book-3-summary {
    display: none;
}


/**********Images************/
#images {
    background-color: #524b36;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#dots {
    text-align: center;
}


/***********Start of Slideshow**********/
#images {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides img {
    width: 700px;
    height: 500px;
}

.slides {
    display: none;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*********End of Slideshow setup************/